div(class="row")
  div(class="col-lg-12")
    div(class="panel panel-primary")
      div(class="panel-heading")
        strong.
          Internal Management Services
      div(class="panel-body")
        p.
          In this system you can see following actions;
        ul
          li.
            Signin
          li.
            Signup
          li.
            Logout
          li.
            Click "Me" link when you signin