script(src="libs/jquery.2.1.1.min.js")
script(src="libs/bootstrap.3.2.0.min.js")
script(src="libs/angular.1.2.20.min.js")
script(src="libs/angular-route.1.2.20.min.js")
script(src="libs/i18next.1.11.0.min.js")
script(src="libs/ngStorage.js")
script(src="libs/loading-bar.js")
script(src="config.js")
script(src="scripts/app.js")
script(src="scripts/controllers.js")
script(src="scripts/services.js")